@charset "UTF-8";
@import "variable";
@import "_reset";
/*header*/
header .h-icon{
	width:(26rem/12);
	height:100%;
	position:absolute;
	top:0;
	z-index: 9;
}
header span{
	color:#fff;
	font-size:(18rem/12);
	font-weight: bold;
	text-align:center;
}
header .l-icon{
	left: (10rem/12);
	background: url(../images/left.png) center center no-repeat;
	background-size: (26rem/12);
}
header .r-icon{
	right: (10rem/12);
	background: url(../images/share.png) center center no-repeat;
	background-size: (26rem/12);
}
/*section bandage*/
.sec-bandage{
    .sec-tit{
        text-align: center;
        margin: (14rem/12) 0 (20rem/12);
        .tit-box{
            display: inline-block;
            position: relative;
            width:428/640*100%;
            text-align: center;
            padding:2px;
            background: #fff;
        }
        .tit-txt{       
            width:100%;
            height: (34rem/12);
            line-height: (34rem/12);
            text-align: center;
            font-size: (14rem/12);
            color:#fff;
            background: #33a6e1;
            border:2px solid #fff;
        }
        .tit-r{
            position: absolute;
            right:-(23rem/12);
            /*margin-right: 0;*/
            top:(8rem/12);
            z-index: 9;
            width:(40rem/12);
            height: (34rem/12);
            background: url(../images/bandage.png) no-repeat;
            background-size: (40rem/12) (34rem/12);
        }
        .tit-l{
            position: absolute;
            left:-(23rem/12);
            /*margin-right: 0;*/
            top:(8rem/12);
            z-index: 9;
            width:(40rem/12);
            height: (34rem/12);
            background: url(../images/bandage.png) no-repeat;
            background-size: (40rem/12) (34rem/12);
            transform:rotateY(180deg);
        }
    }
}
.sec-bandage{
    td:first-child{
        font-weight: bold;
    }
}
/*table common*/
table {  
    border: 2px solid $blueB;  
    padding:0;   
    margin:0 auto;  
}  
  
td,th {  
    border: 1px solid $blueB; 
    padding:(8rem/12);
    text-align: center;	 
    line-height: (20rem/12);
    background: #fff;  
} 
/*section */
section{
	background:#fff;
	margin-bottom:(10rem/12);
}
.sec-main{
    position: relative;
	padding:0 (10rem/12) (10rem/12);
}
.sec-common{
    .sec-tit{
        border-bottom:1px solid #f4f4f4;
        padding:(10rem/12) 0;
        margin-bottom: (10rem/12);
    }
    
    .tit-main{
        height: (14rem/12);
        font-size: (14rem/12);
        color:$colH;
        border-left:2px solid $blue;
        padding-left:1rem;  
    }
    
}


table{
    margin-bottom:(10rem/12);
    &:last-child{
        margin-bottom:0;
    }
}
.footernote{
    line-height: 1.5;
}

.td-half{
    width:50%;
}
.td-6{
    width:62.5%;
}

.color{
    color:$col;
}

.wd-5-5{
    width:5.5em !important;
}


.btn-box{
    margin:(10rem/12);
    text-align: center;
    color:#fff;
    background: $blue;
    border-radius: (3rem/12);
    line-height: (32rem/12);
}
/*sec logo*/
.sec-logo{
    position: absolute;
    right:(10rem/12);
    top:0;
    transform: translateY(-100%);
    z-index: 9;
}
.sec-logo-3{
    width:(88rem/12);
    height: (38rem/12);
    background: url(../images/sec-3.png) no-repeat;
    background-size: (88rem/12) auto;
    overflow: hidden;
}
.sec-logo-4{
    width:(92rem/12);
    height: (45rem/12);
    background: url(../images/sec-4.png) no-repeat;
    background-size: (92rem/12) auto;
    overflow: hidden;
}
.sec-logo-5{
    width:(83rem/12);
    height: (47rem/12);
    background: url(../images/sec-5.png) no-repeat;
    background-size: (83rem/12) auto;
    overflow: hidden;
}

.sec-logo-6{
    width:(83rem/12);
    height: (45rem/12);
    background: url(../images/sec-6.png) no-repeat;
    background-size: (83rem/12) auto;
    overflow: hidden;
}
.sec-logo-7{
    width:(88rem/12);
    height: (46rem/12);
    background: url(../images/sec-7.png) no-repeat;
    background-size: (88rem/12) auto;
    overflow: hidden;
}
/**
     *page： 学生于都总结-2
 */
.charts{
    .charts-tit{
        padding-top:(4rem/12);
        color:$colH;
        text-align: center;
        line-height: 1.4;
    }
    .charts-main{
        //border:1px dashed $col;
        padding:1rem 0;
        border-bottom:1px dashed #d7d7d7;
    }
}

#charts-preparation,#charts-teaching-difficuty,
#charts-teaching-idea{
    width:100%;
    height: (200rem/12);
}
#charts-pic{
    width:100%;
    height: (110rem/12);
}
.chart-item{
//    height: (24rem/12);
    line-height: (24rem/12);
    font-size: (10rem/12);
    color:$colH;
    &:after{
        @extend .clearfix:after;
    }
    .item-a{
        float:left;
        
        border-radius:50%;
        width:(24rem/12);
        height: (24rem/12);
        vertical-align: bottom;
        transform: scale(0.6);
    }
    .item-b{
        float:left;
        margin:0 (5rem/12);
        width:(50rem/12);
    }
    .item-c{
        float:left;
        width:(74rem/12);
        text-align: right;
    }
    .item-d{
        float:left;
    }
}
.ft-item-1 {
    margin-top:(8rem/12);
    .item-a{
        background: #61a0a8;
    }
}
.ft-item-2 .item-a{
    background: #c23531;
}
.chart-item-b{
    line-height: (24rem/12);
}
.chart-item-third{
    float:left;
    min-width:33.3%;
    height: (24rem/12);
    line-height: (24rem/12);
    font-size: (10rem/12); 
    color:$col;
}
.pt-8{
    padding-top: (10rem/12);
}
.lightBlue{color:#61a0a8}
.darkBlue{color:#38586d};
.sec-txt{
    text-indent: 2em;
    padding:.4em;
    font-size: 1rem;
    line-height: (20rem/12);
}
/*input collection*/
.sec-form{
    border-top:1px solid #f4f4f4;
    border-bottom:1px solid #f4f4f4;
    padding: (14rem/12) (10rem/12);
    
    &:after{
        @extend .clearfix:after;
    }
    .input-comb{
        &:nth-child(even){
            margin-right: 0;
        }        
        float:left;
        margin-right:4%;
        width:47.99%;
        input{
            margin-bottom: (10rem/12);
            padding:0 (4rem/12);
            border:1px solid $col;
            width:100%;
            height: (30rem/12);
            background: #f8f8f8;
        }
    }
    label{
        display: block;
        padding-left:(4rem/12);
        font-size:1rem;
        line-height: 1;
        height:1rem;
        margin-bottom:0.5rem;
    }
    .input-box{
        position: relative;
        .i-school{
            right:0 !important;
            width:(88rem/12);
            height: (46rem/12);
            background: url(../images/i-school.png) no-repeat;
            background-size: (88rem/12) auto;
            overflow: hidden;
        }
    }
}
.sec-table{
    .table-wrapper{
        position: relative;
        overflow-x: auto;
        padding-bottom:(20rem/12);
    }
    .table-tit{
        height: (36rem/12);
        line-height: (36rem/12);
        font-size: (14rem/12);
        color:$colH;
        text-align: center;
        overflow: hidden;
    }
    table{
        
        table-layout: fixed;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
    th,td{width:4rem; }      
    .w12{width:12rem}
    .w6{width:5.5rem};
    .fixed-table{
        display: none;
        position: fixed;
        width:100%;
        overflow-x: auto;
        left:0;
        top:0;
        z-index: 999;
        table{
            border-color: #fff;
            margin-bottom: 0;
            }
        th{background: #000;border-color: #fff;}
        color:#fff;
        //  position: relative;
        overflow-x: auto;       
    }
    
}
.sec-hr{
    padding:0 (10rem/12);
    border-bottom:1px dashed #d7d7d7;
    height: 1px;
}
.pt20{margin-top:(20rem/12);}
.table-mb-minus-2{
    margin-bottom: -2px !important;
}
table .td-third{width:33.3%;}
table td:first-child{font-weight: normal !important;}
.examples{
    p{line-height: 1.8;}
}

.i-share{
    position:fixed;
    top:70%;
    right:(10rem/12);
    z-index: 1000;
    width:(36rem/12);
    height:(36rem/12);
    background: url(../images/i-share.png) no-repeat;
    background-size:contain;
}