<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no,email=no" name="format-detection">
		<title>票数排行榜</title>
		<link rel="stylesheet" href="../css/rank.css">
	</head>

	<body>
		<article class="main">
			<section class="tit-sec">
				<img src="../images/header.png" alt="" />
			</section>
			<section class="main-sec">
				<div class="rank-main">
					<div class="rank-top-3 clearfix">
						<div class="top-item first">
							<div class="img-box">
								<img class="person-pic" src="../images/header_2.png" alt="" />
								<div class="person-position">
									<div class="ranking">
										<div class="ranking-val">2</div>
									</div>
									<div class="decorate">
										<div class="tri-angle"></div>
									</div>
								</div>
							</div>
							<div class="name">Poly</div>
							<div class="votes">999票</div>
							<div class="person-id">
								编号：<span>009</span>
							</div>

						</div>
						<div class="top-item second">
							<div class="img-box">
								<img class="person-pic" src="../images/header_2.png" alt="" />
								<div class="person-position">
									<div class="ranking">
										<div class="ranking-val">1</div>
									</div>
									<div class="decorate">
										<div class="tri-angle"></div>
									</div>
								</div>
							</div>
							<div class="name">Poly</div>
							<div class="votes">999票</div>
							<div class="person-id">
								编号：<span>009</span>
							</div>

						</div>
						<div class="top-item third">
							<div class="img-box">
								<img class="person-pic" src="../images/header_2.png" alt="" />
								<div class="person-position">
									<div class="ranking">
										<div class="ranking-val">2</div>
									</div>
									<div class="decorate">
										<div class="tri-angle"></div>
									</div>
								</div>
							</div>
							<div class="name">Poly</div>
							<div class="votes">999票</div>
							<div class="person-id">
								编号：<span>009</span>
							</div>

						</div>

					</div>
					<div class="rank-others">
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" />
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
						<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
					</div>
				</div>
				<div class="rank-fixed">
					<div class="rank-item clearfix">
							<div class="rank-no">4</div>
							<img class="person-pic" src="../images/header_07.png" /img>
							<div class="person-name">黄文文</div>
							<div class="person-id">编号：(<span>008</span>)</div>
							<div class="person-votes"><span>94</span>票</div>
						</div>
				</div>
			</section>
		</article>

		<script src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
	</body>

</html>