<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no,email=no" name="format-detection">
		<title>投票活动</title>
		<link rel="stylesheet" href="../css/votes.css">
	</head>

	<body>
		<article class="main">
			<section class="tit-sec">
				<img src="../images/votes-header.png" />
				<div class="title">活动时间：即日起-7月31日12:00</div>
			</section>
			<section class="participant-sec">当前参与活动人数：<span>1111</span>人</section>
			<section class="search-sec">
				<input type="" name="" id="" value="" placeholder="请输入好友编号进行搜索" />
				<div class="search-btn">搜索</div>
			</section>
			<section class="candi-sec clearfix">
				<a class="candi-item" href="javascript:void(0);">
					<img src="../images/person-big.png" alt="" />
					<div class="cand-info">
						<div class="candi-name">韩梅梅</div>
						<div class="candi-votes">9999票</div>
						<div class="candi-btn">投票</div>
					</div>
					<div class="candi-id">1999号</div>
				</a>
				<a class="candi-item" href="javascript:void(0);">
					<img src="../images/person-big.png" alt="" />
					<div class="cand-info">
						<div class="candi-name">韩梅梅</div>
						<div class="candi-votes">9999票</div>
						<div class="candi-btn">投票</div>
					</div>
					<div class="candi-id">1999号</div>
				</a>
				<a class="candi-item" href="javascript:void(0);">
					<img src="../images/person-big.png" alt="" />
					<div class="cand-info">
						<div class="candi-name">韩梅梅</div>
						<div class="candi-votes">9999票</div>
						<div class="candi-btn">投票</div>
					</div>
					<div class="candi-id">1999号</div>
				</a>
				<a class="candi-item" href="javascript:void(0);">
					<img src="../images/person-big.png" alt="" />
					<div class="cand-info">
						<div class="candi-name">韩梅梅</div>
						<div class="candi-votes">9999票</div>
						<div class="candi-btn">投票</div>
					</div>
					<div class="candi-id">1999号</div>
				</a>
			</section>
			<footer>
				<div class="ft-item ft-item-1">活动规则</div>
				<div class="ft-item ft-item-2">中奖记录</div>
				<div class="ft-item ft-item-3">好友拉票</div>
				<div class="ft-item ft-item-4">立即参加</div>
				<div class="ft-item ft-item-5">当前排名</div>
			</footer>

		</article>

		<script src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layer.js"></script>

	</body>

</html>